@mixin hamburger-line($translate: null, $isPseudo: false) {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 1.5px;
    background-color: $color-2;
    transition: transform 200ms ease-in-out;
    @if $isPseudo {
        transform: translateY($translate);
    }
}

.hamburger {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50px;
    min-width: 50px;
    height: 50px;
    @include media-breakpoint-up(lg) {
        display: none;
    }
    .line {
        @include hamburger-line;
        &::before {
            content: "";
            @include hamburger-line($translate: 8px, $isPseudo: true);
        }
        &::after {
            content: "";
            @include hamburger-line($translate: -8px,  $isPseudo: true);
        }
    }
    &.active {
        .line {
            background: transparent;
            &::before {
                background-color: $white;
                transform: rotate(45deg);
            }
            &::after {
                background-color: $white;
                transform: rotate(135deg);
            }
        }
    }
}

.menu {
    @include media-breakpoint-up(md) {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    content: "|";
                    margin-left: 10px;
                    margin-right: 10px;
                    color: lighten($color: #000000, $amount: 60%);
                }
                a {
                    color: $color-2;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: $color-3;
        ul {
            display: block;
            margin-top: 75px;
            list-style: none;
            padding-inline-start: 0;
            li {
                text-align: center;
                transition: background 200ms ease-in-out;
                &::after {
                    display: none;
                }
                &:hover {
                    background-color: lighten($color: $color-3, $amount: 2%);
                }
                a {
                    display: list-item;
                    width: 100%;
                    padding: 1rem;
                    text-decoration: none;
                    color: $white;
                }
            }
        }
        &.visible {
            display: block;
        }
    }
}