$web-white: #FFFFFF;
$web-black: #000000;

$color-1: #fda085;
$color-2: #4C94B0;
$color-3: #3AB091;

$theme-colors: (
    'color-1': $color-1,
    'color-2': $color-2,
    'color-3': $color-3
);

$border-radius: 8px;