// sass --watch app/public/scss/style.scss:app/public/css/style.css

@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import './mixins';
@import './header';
@import './footer';
@import './menu';
@import './form';

body {
    font-family: 'Poppins';
    min-height: 100vh;
}

.page-wrapper {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.main {
    margin-bottom: 4rem;
}

.content {
    width: 100%;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    background-color: $white;
    .content-header {
        position: relative;
        margin-bottom: 2rem;
        .content-header-title {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $color-3;
            @include line-after;
        }
    }
}

.btn-clear {
    position: absolute;
    top: 0;
    right: 0;
    @include media-breakpoint-down(md) {
        position: static;
    }
}